.botones-sociales {
  position: fixed;
  top: 130px;
  width: 45px;
  z-index: 9999;
}

.derecha{
  right: 0;
}

.botones-sociales #twitter-btn .social{
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/gorjeo.png');
  background-position: 10px 10px;
}
.botones-sociales #facebook-btn .social{
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/facebook-logo.png');
  background-position: 10px 10px;
}
.botones-sociales #google-btn .social{
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/google-plus.png');
  background-position: 10px 10px;
}
.botones-sociales #whatsapp-btn .social{
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/whatsapp.png');
  background-position: 10px 10px;
}
.botones-sociales #instagram-btn .social{
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/logo-de-instagram.png');
  background-position: 10px 10px;
}
.botones-sociales #youtube-btn .social {
  background-color: #33353B;
  background-image: url('../assets/images/icons/social/youtube.png');
  background-position: 10px 10px;
}

/*.derecha #facebook-btn span,
.derecha #twitter-btn span,
.derecha #google-btn span,
.derecha #whatsapp-btn span,
.derecha #instagram-btn span,
.derecha #youtube-btn span{
  background-position: 12px 10px;
}*/

.botones-sociales #facebook-btn:hover .social {
  background-color: #3A5795;
  width: 120px;
}

.botones-sociales #twitter-btn:hover .social {
  background-color: #5EA9DD;
  width: 120px;
}

.botones-sociales #google-btn:hover .social {
  background-color: #C30907;
  width: 120px;
}

.botones-sociales #whatsapp-btn:hover .social {
  background-color: #00A478;
  width: 120px;
}

.botones-sociales #instagram-btn:hover .social {
  background-color: #2A5B83;
  width: 120px;
}

.botones-sociales #youtube-btn:hover .social {
  background-color: #CC181E;
  width: 120px;
}

.botones-sociales a:hover .texto{
  display: block;
}

.derecha .social {
  -moz-transition: background-color 0.4s ease-in 0s;
  -webkit-transition: background-color 0.4s ease-in 0s;
  background-repeat: no-repeat;
  display: block;
  float: right;
  height: 43px;
  margin-bottom: 2px;
  width: 43px;
}

.derecha .texto {
  display: none;
  float: left;
  font-size: 80%;
  font-weight: bold;
  margin: 11px 0 11px 43px;
  white-space: nowrap;
}

.botones-sociales .texto{
  color: #FFFFFF;
}