@font-face{
	font-family: fantasy;
}

body {
	/* font-family: Montserrat-Thin;
	src:url("assets/fuente/Montserrat-Thin.otf"); */
}

body, html{
	overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul{
	padding: 15px;
	margin: 0;
}

a{
	text-decoration: none;
	color: #de1728;
}

a:focus{
	outline: none;
	text-decoration: none;
}

h1{
  /* font-family: 'Cabin', sans-serif; */
  font-family: fantasy;
}

h2, h3, h4, h5, h6{
  /* font-family: 'Cabin', sans-serif; */
  font-family: fantasy;
  font-weight: bold;
}

h1{
	font-size: 6em;
	margin-bottom: 0px;
	color: #FFF;
}

h2 {
	font-size: 4em;
	line-height: 40px;
	margin: 0;
	padding-bottom: 6px;
}

img{
  border: none;
}

strong {
  color: black;
  font-family: sans-serif;
}

p{
	color: #787878;
	font-size: 17px;
	padding-top: 15px;
}

.elegantshadow {
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
              -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
              -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
              -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
              -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
              -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
              -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
              -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
              -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
              -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.active a{
  color: white !important;
}

.text-gold{
	color: #D4AC0D !important;
	text-decoration-line: underline;
	font-weight: bold;
}

.text-red{
  color: red !important;
}

.text-black{
	color: black;
}

.text-white{
	color: white;
}

.text-center{
	text-align: center;
}

/*--------------------*/
/*       HEADER       */
/*--------------------*/

#menu{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
}

#menu img{
  width: 240px;
  height: 80px;
  margin-left: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover, a:focus {
  color: #fff;
}

.menu{
	background: black;
	border: none;
	padding: 0;
	font-size: initial;
}

.nav > li > a:hover {
  color: #FFF !important;
}

/*--------------------*/
/*        VIDEO       */
/*--------------------*/

#video{
	padding: 90px 0 0 0px;
}

/*--------------------*/
/*      NOSOTROS      */
/*--------------------*/

#nosotros{
	width: 100%;
	height: 400px;
  float: left;
  display: inline;
	background: #dddddd;
}

.h2-nosotros{
	padding: 20% 0 30px 0;
	font-style: italic;
}

/*--------------------*/
/*      SERVICES      */
/*--------------------*/

#services{
	width: 100%;
	height: 280px;
  float: left;
  display: inline;
  background: #000;
}

#services img {
  width: 80%;
}

#services h2 {
  color: #FFF;
  text-decoration-line: underline;
  text-align: center;
  padding:5% 0 40px 0px;
  font-family: fantasy;
}

.serv {
	margin-left: 83px;
}

/*--------------------*/
/*       EVENTOS      */
/*--------------------*/

#eventos{
  width: 100%;
  height: 55em;
	float: left;
  display: inline;
	background: #841a11;
}

#eventos img {
  padding: 0 0 0 0;
}

#eventos h2 {
  padding: 5% 0 5% 0;
  font-style: italic;
}

#eventos button{
	border-radius: 3px;
}

.input{
	padding-bottom: 10px;
}

/*--------------------*/
/*      GALERIA       */
/*--------------------*/

#contGaleria{
  width: 100%;
  float: left;
  display: inline;
  background-color: #000;
}

.cargaMas{
  background-color: #000;
  width: 5%;
}

.image{
  border: 1px solid blue;
}

.contImg{
  margin: 10px 0px;
}

.play{
  position: absolute;
  padding: 5.9%;
}

#galeria {
	width: 100%;
  float: left;
  display: inline;
	background: #000;
}

#galeria h2 {
	text-align: center;
  padding: 3% 0% 3% 0%;
}

#galeria h2:after{
	text-decoration-line: underline;
}

#galeria h2:before{
	text-decoration-line: underline;
}

#galeria img{
	display: block;
	margin: auto;
}

#galeria button{
	background: none;
  border: 0;
  display: block;
  margin: auto;
}

.flecha{
	padding: 20px 0 20px 0;
}

/*--------------------*/
/*      CONTACTO      */
/*--------------------*/

#contacto{
	width: 100%;
  float: left;
  display: inline;
}

.h2-contacto{
	padding: 8% 0 8% 0;
	font-style: italic;
}

.icono-c{
	margin: 20px 0 0 0;
}

.input-style{
	border-radius: 7px;
  background: lavender;
  width: 100%;
}

.title-area .title span {
  color: #FF5A19;
}

.title-area .title::before {
  background-color: #FF5A19;
}

.submit{
	background: black;
  color: white;
  border-radius: 9px;
  padding: 5px 15px 5px 15px;
  border: none;
}

/*--------------------*/
/*       FOOTER       */
/*--------------------*/

#footer{
  width: 100%;
  float: left;
  display: inline;
}
#footer p{
	font-size: 11px;
	color:#FFF;
}

.footer-derechos{
	text-align: center;
	font-weight: bolder;
  font-family: sans-serif;
  background-color: #000;
  width: 100%;
}

.footer-derechos a {
  color: #fff;
}

/*======================///////////////
		RESPONSIVE STYLE
=====================///////////////////////*/

/* ipad-pro */
@media(max-width: 1199px){
  #menu img {
    margin-left: 0;
  }

  .menu{
  	font-size: 14px;
  }
}

/* ipad */
@media(max-width: 991px){
  .menu{
  	font-size: 13px;
  }

  .h2-nosotros {
    padding: 7% 0 30px 0;
  }

  #nosotros p {
    font-size: 15px;
    margin: 0 90px 0 90px;
  }

  #nosotros img{
    float: right;
    width: 26%;
    margin: -13em -65px 0 0;
  }

  #nosotros {
    height: 280px;
  }

  #services img {
    width: 100%;
    margin: 0 0 0 50px;
  }

  #eventos img {
    padding: 0 0 0 0;
    width: 100%;
  }

  .input-group-btn {
    width: 21% !important;
  }

  #eventos {
    height: 30em;
  }

  .serv {
    margin-left: 0;
  }

  #galeria img {
    width: 100%;
  }

  #contacto {
    height: auto;
  }

  #contacto p{
    font-size: 15px;
    margin: 0;
  }

  #contacto img{
  	float: left;
  }

  .mapa{
  	width: 100%;
  }
}

@media(max-width: 767px){
  #menu {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 12%;
    background: black;
  }

  #menu {
    height: 80px;
    background: black;
  }

  #services img {
    width: 40%;
    margin: 5px 0px 0 100px;
  }

  #services {
    height: auto;
  }

  #eventos {
    height: auto;
  }

  .hidden-eventos{
  	display: none;
  }

  #eventos img {
    padding: 0 0 0 0;
  }

  #eventos div {
    padding-bottom: 10px;
    width: 100%;
  }

  .serv {
    margin-left: 100px;
  }

  #contacto p {
    font-size: 15px;
    margin: -13px 228px 13px 50px;
  }
}

@media(max-width: 640px){
  #menu {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 80px;
    background: black;
  }

  #nosotros img {
    float: right;
    width: 26%;
    margin: -14em -65px 0 0;
  }

  #services img {
    width: 40%;
    margin: 5px 0px 0 100px;
  }

  #services {
    height: auto;
  }

  #eventos {
    height: auto;
  }

  .hidden-eventos{
  	display: none;
  }

  #eventos img {
    padding: 0 0 0 3px;
  }

  #eventos div {
    padding-bottom: 10px;
    width: 100%;
  }
}

/* iphone6, nexus */
@media(max-width: 480px){
  #menu{
  	height: 80px;
  	background: black;
  }

  #nosotros img{
  	width: 45%;
    margin-left: 25%;
    margin-top: -74%;
  }

  #nosotros p {
    margin: 0 24px 0 13px;
  }

  .h2-nosotros {
    font-size: 45px;
  }

  p {
    font-size: 12px;
  }

  #services {
    height: 100%;
  }

  #services h2{
  	font-size: 45px;
  }

  #services img {
    width: 55%;
    margin: 0 0 10px 0%;
  }

  #eventos {
    height: auto;
  }

  #eventos h2{
  	font-size: 37px;
  }

  #eventos img {
    padding: 0 0 0 15%;
  }

  #eventos div {
  	padding-bottom: 10px;
  }

  .hidden-eventos{
  	display: none;
  }

  #galeria h2 {
    font-size: 45px;
    line-height: 0;
    padding: 50px 0 0 0;
  }

  #contacto {
    height: auto;
  }

  #contacto p {
    font-size: 15px;
    margin: 0 0 6px 47px;
  }

  #formulario{
  	margin-top: 33px;
  }

  .h2-contacto {
    font-size: 45px;
  }

  .icono-c {
    margin: 20px 0 0 0;
    display: inline-block;
    float: left;
  }

  .mapa{
  	width: 100%;
  }

  #footer {
  	margin: 0;
  }

  #footer p {
    font-size: 10px;
  }
}

@media(max-width: 375px){
  #nosotros p{
  	margin: 0;
  }

  #nosotros img{
  	width: 50%;
    margin-left: 25%;
    margin-top: -83%;
  }

  .h2-nosotros {
    font-size: 37px;
  }

  p {
    font-size: 12px;
  }

  #services {
    height: 100%;
  }

  #services h2{
  	font-size: 36px;
  }

  #services img {
    width: 50%;
    margin: 0 0 20px 25%;
  }

  .serv {
    margin-left: 30px;
  }

  #eventos {
    height: auto;
  }

  #eventos h2{
  	font-size: 37px;
  }

  #eventos img {
    padding: 0 0 0 15%;
  }

  #eventos div {
  	padding-bottom: 10px;
  }

  .hidden-eventos{
  	display: none;
  }

  #galeria h2 {
    font-size: 37px;
    line-height: 0;
    padding: 59em 0 0 0;
  }

  #contacto {
    height: auto;
  }

  #contacto p {
    font-size: 13px;
    margin: 0 0 6px 47px;
  }

  #formulario{
  	margin-top: 33px;
  }

  .h2-contacto {
    font-size: 37px;
  }

  .icono-c {
    margin: 20px 0 0 0;
    display: inline-block;
    float: left;
  }

  .mapa{
  	width: 100%;
  }

  #footer {
  	margin: 0;
  }

  #footer p {
    font-size: 8px;
  }
}

@media(max-width: 360px){
  #nosotros img {
    width: 50%;
    margin-left: 25%;
    margin-top: -103%;
  }

  #nosotros p {
    margin: 0 24px 0 13px;
  }

  #services img {
    width: 80%;
    margin: 0 0px 10px 0px;
  }

  .serv {
    margin-left: 45px;
  }

  #galeria h2 {
    font-size: 37px;
    line-height: 0;
    padding: 60em 0 0 0;
  }
}

@media(max-width: 320px){
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
  }

  #nosotros img {
    width: 50%;
    margin-left: 25%;
    margin-top: -110%;
  }

  #nosotros p {
    font-size: 13px;
  }

  .h2-nosotros {
    font-size: 32px;
  }

  #services h2 {
    font-size: 32px;
  }

  #eventos img {
    padding: 0 0 0 0;
  }

  #eventos h2 {
    font-size: 32px;
  }

  #galeria img{
  	margin-left: 0px;
  }

  #galeria h2 {
    font-size: 32px;
    line-height: 0;
    padding: 63em 0 0 0;
  }

  .flecha {
    padding: 20px 0 20px 33px;
  }

  .flecha {
    padding: 0;
  }

  #contacto p {
    font-size: 13px;
    margin: 0 0 6px 47px;
  }

  .h2-contacto {
    font-size: 32px;
  }

  .footer-derechos {
    height: 100%;
  }
}
